<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#1A5F7A" />
    <base href="/" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/sitecorp/favicons/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/sitecorp/favicons/favicon-32x32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/sitecorp/favicons/apple-touch-icon.png" />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="stylesheet" href="app.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
